<h1><%= @guest.name %></h1>

<h3><%= @guest.occupation %></h3>

<% @guest.appearances.each do |a| %>
<p><%= link_to a.episode.date, episode_path(a.episode.id) %> - <%="Rating: #{a.rating}/5" %> <%= link_to "(edit appearance)", edit_appearance_path(a) %></p>
<% end %>
